In [12]:
import pandas as pd
from sqlalchemy import create_engine
youtuber =pd.read_csv('https://raw.githubusercontent.com/sdw-online/top_uk_youtubers_2024/main/assets/datasets/youtube_data_from_python.csv'
                      ,encoding='utf-8')

In [13]:
youtuber.head()

,#,NOMBRE,SEGUIDORES,TP,PAÍS,TEMA DE INFLUENCIA,ALCANCE POTENCIAL,GUARDAR,INVITAR A LA CAMPAÑA,channel_name,total_subscribers,total_views,total_videos,Unnamed: 13
0,1,NoCopyrightSounds @UC_aEa8K-EOJ3D6gOs7HcyNg,32.9M,-,Reino Unido,Música,9.9M,NaN,Ver Perfil,NoCopyrightSounds,33600000,11011230785,1591,
1,2,DanTDM @UCS5Oz6CHmeoF7vSad0qqXfw,26.3M,-,Reino Unido,NaN,7.9M,NaN,Ver Perfil,DanTDM,28600000,19775951435,3705,NaN
2,3,KSI @UCVtFOytbRpEvzLjvqGG5gxQ,24M,-,Reino Unido,NaN,7.2M,NaN,Ver Perfil,KSI,24100000,6015064768,1252,NaN
3,4,Mister Max @UC_8PAD0Qmi6_gpe77S1Atgg,23M,0.10%,Reino Unido,NaN,6.9M,NaN,Ver Perfil,Mister Max,24400000,15973601417,1136,NaN
4,5,Jelly @UC0DZmkupLYwc0yDsfocLh0A,22.9M,-,Reino Unido,NaN,6.9M,NaN,Ver Perfil,Jelly,23500000,15032515044,6331,NaN

In [14]:
youtuber.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 14 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   #                     100 non-null    int64
 1   NOMBRE                100 non-null    object
 2   SEGUIDORES            100 non-null    object
 3   TP                    100 non-null    object
 4   PAÍS                  100 non-null    object
 5   TEMA DE INFLUENCIA    9 non-null      object
 6   ALCANCE POTENCIAL     100 non-null    object
 7   GUARDAR               0 non-null      float64
 8   INVITAR A LA CAMPAÑA  100 non-null    object
 9   channel_name          100 non-null    object
 10  total_subscribers     100 non-null    int64
 11  total_views           100 non-null    int64
 12  total_videos          100 non-null    int64
 13  Unnamed: 13           1 non-null      object
dtypes: float64(1), int64(4), object(9)
memory usage: 11.1+ KB

In [15]:
youtuber=youtuber[['NOMBRE','total_subscribers','total_views','total_videos']].copy()

In [16]:
channel_name =[]
for compte in youtuber.NOMBRE :
    channel_name.append(compte[:compte.find("@")])
youtuber['channel_name']=channel_name
youtuber = youtuber.drop(columns=['NOMBRE'])

In [17]:
youtuber

    total_subscribers  total_views  total_videos        channel_name
0            33600000  11011230785          1591  NoCopyrightSounds
1            28600000  19775951435          3705             DanTDM
2            24100000   6015064768          1252                KSI
3            24400000  15973601417          1136         Mister Max
4            23500000  15032515044          6331              Jelly
..                ...          ...           ...                 ...
95            5180000   1068272135           513               Wisp
96            5030000    852896342           305             WillNE
97            4710000    847855843          1998             Zerkaa
98            4550000   1270551080           858       Ben Phillips
99            4580000    539030412           933         Roxxsaurus

[100 rows x 4 columns]

In [22]:
engine = create_engine('postgresql://postgres:@@@@@2000@localhost:5432/postgres')
youtuber.to_sql('youtuber_table', engine, if_exists='replace', index=False)

100